<header>
    <a routerLink="/"><img id="logo" src="/assets/images/XcentiumFlicks-logo.png" alt="{{title}}" /></a>

    <div id="hero-text">
        <h1 id="">Unlimited movies, TV shows, and more.</h1>
        <h2 id="">Watch anywhere. Cancel anytime.</h2>
        <form>
            <h3>Ready to watch? Enter your email to create or restart your membership.</h3>
            <div>
                <label for="id_email_" class="placeLabel">Email address
                    <input type="email" name="email" id="id_email" value="" maxlength="50" minlength="5">
                </label>
                <br /><br />
                <div class="our-story-cta-container cta-link-wrapper" autocomplete="off">
                    <button type="submit" mat-raised-button color="warn">Get Started</button>
                </div>
            </div>
        </form>
    </div>
</header>